*{
    margin: 0px;
}



body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#container{
    width: 1350px;
    margin: 0 auto;
    
}


.lorem-section{

    background-color:#FFFFFF;
}

.brown-bag-section{

    background-color: #EDF1F4;
    padding-bottom: 15px;
}

.black-bag-section{
    
    background-color: #FFFFFF;
}

.lorem-section-div{
    text-align: center;
    margin-top: 85px;
    margin-bottom: 75px;  
}

.lorem-section-div h1{
    color: #9E8080;
    font-size: 42px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 23px;
}

.lorem-section-div p{
    color: black;
    font-size: 21px;
}

.brown-bag-section-div{
    display: flex;
    
}

.brown-bag-section-image-div{
    margin-top: 75px;
    margin-bottom: 75px;
    flex: 1;
}

.brown-bag-section-image-div img{
    width: 76%;
    margin-left: 110px;
}

.brown-bag-section-text-div{
    margin-top: 70px;
    flex: 1;
}

.brown-bag-section-text-div h2{
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 35px;
}

.brown-bag-section-text-div p{
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 25px;
    margin-left: 10px;
 
}

.brown-bag-section-text-div a{
    font-size: 18px;
    color: black;
    text-decoration: underline;
    margin-left: 10px;
}

.black-bag-section-image-div img{
    margin-top: 50px;
    margin-bottom: 105px;

    width: 84%;
}

.black-bag-section-image-div {
    text-align: center;
}

.consectetur-span{
    font-weight: bold; color: #D7856D;
}
