*{
    margin: 0px;
}

body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 1350px;
    margin: 0 auto;
    overflow-x: hidden;
}


.intro{
    background-color:#FFFFFF;
}

.main-content{
    background-color: #EDF1F4;
    padding-bottom: 15px;
}

.ending-content{
    background-color: #FFFFFF;
}

.intro-div{
    text-align: center;
    margin-top: 85px;
    margin-bottom: 75px;  
}

.intro-div h1{
    color: #9E8080;
    font-size: 42px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 23px;
}

.intro-div p{
    color: black;
    font-size: 21px;
}

.main-content-div{
    display: flex;
}

.main-content-image-div{
    margin-top: 75px;
    margin-bottom: 75px;
    flex: 1;
}

.main-content-image-div img{
    width: 76%;
    margin-left: 110px;
}

.main-content-text-div{
    margin-top: 70px;
    flex: 1;
}

.main-content-text-div h2{
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 35px;
}

.main-content-text-div p{
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 25px;
    margin-left: 10px;
}

.main-content-text-div a{
    font-size: 18px;
    color: black;
    text-decoration: underline;
    margin-left: 10px;
}

.ending-content-image-div img{
    margin-top: 50px;
    margin-bottom: 105px;

    width: 84%;
}

.ending-content-image-div {
    text-align: center;
}

.consectetur-span{
    font-weight: bold; color: #D7856D;
}
